* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: sans-serif;
  font-weight: 100;
  font-style: normal;
  padding-top: 70px;
  text-align: center;
}

.underline {
  width: 150px;
  height: 6px;
  margin: 0 auto;
  background-color: red;
  color: red;
  border: 1px;
  border: solid;
}

h4 {
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
}

.order-img {
  border-radius: 0 45px 0 45px;
  transition: transform 0.3s;
}

.order-img:hover {
  transform: scale(0.9);
}

.cards {
  margin-bottom: 30px;
}

.card1,
.card2,
.card3 {
  margin-top: 25px;
}

.card-img-top {
  width: 100%;
}

.btn {
  width: 45px;
  height: 45px;
}

.order-button {
  background-color: yellow;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  margin-bottom: 100px;
}

.link1 {
  text-decoration: none;
  color: black;
}

.order-button:hover {
  background-color: blue;
  color: white;
}

#button3:hover{
  background-color: yellow;
}





/* Media Queries for Responsiveness */

/* Small screens */
@media (max-width: 576px) {
  .underline {
    display: block;
    width: 100px;
  }

  .order-button {
    width: 120px;
    height: 40px;
  }

  

  .order-img {
    width: 100%;
    height: auto;
  }

  .row {
    flex-direction: column;
  }

  .col-12 {
    margin-bottom: 20px;
  }


/* Medium screens */
@media (min-width: 577px) and (max-width: 992px) {
  .order-button {
    width: 130px;
    height: 45px;
  }

  

  .col-md-4 {
    margin-bottom: 30px;
  }

  
}

